html {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

.content {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  transform: translateZ(0);
  display: flex;
  flex-flow: column wrap;
}

.blur {
  transform: translate(0px, 0px, 0px);
  background-image: url("../img/bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  width: 100%;
  height: 100%;

  -webkit-filter: blur(30px);
  -o-filter: blur(30px);
  filter: blur(30px);

  top: -70px;
  right: -70px;
  left: -70px;
  padding: 70px;
}

.clock-container {
  flex-wrap: wrap;
  width: 100%;
  height: 80%;
}

.seconds-circle {
  position: absolute;
  top: 50%;
  left: 50%;

  width: 500px;
  height: 500px;
  transform: translate(-50%, -50%) rotate(-90deg);
}

#circle {
  r: 49%;
  cy: 50%;
  cx: 50%;
  stroke-width: 2%;
  stroke: #ffffff;
  stroke-opacity: 0.6;
  fill: none;
}

.circle_animation {
  stroke-dasharray: 1539; /* circumference */
  stroke-dashoffset: 0;
}

.time-board {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 465px;
  height: 465px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 50%;
}

#time {
  font-size: 7em;
  font-weight: bold;
  color: rgba(255, 255, 255, 0.9);
}

#date {
  font-size: 2em;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.6);
}

.alarms-container {
  flex-wrap: wrap;
  width: 100%;
  height: 20%;
}

#addalarm {
  display: block;
  position: relative;
  margin: auto;
  margin-bottom: 15px;

  color: rgba(255, 255, 255, 0.7);
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  text-decoration: none;

  background-color: transparent;
  border: 2px solid rgba(255, 255, 255, 0.7);
  border-radius: 5px;

  cursor: pointer;
  outline: none;
  padding: 10px 20px 10px 40px;
  width: 160px;

  transition: all .3s linear;
}

#addalarm:hover {
  color: rgba(255, 255, 255, 0.9);
  border: 2px solid rgba(255, 255, 255, 0.9);
}

#addalarm:active {

}

#addalarm-icon {
  width: 24px;
  height: 24px;
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  margin: 0;
  padding: 0;

  fill: #ffffff;
  opacity: 0.7;
  transition: all .5s ease-out;

}

.addalarm:hover #addalarm-icon {
  opacity: 1;
}

#alarm-form {
  position: relative;
  margin: auto;
  width: 200px;
}

#alarm-form-time {
  background-color: transparent;
  border: none;
  outline: none;
  color: rgba(255, 255, 255, 0.7);
  font-size: 24px;
  font-family: 'Roboto', sans-serif;
}

#alarm-form-time:active {
  color: rgba(255, 255, 255, 0.9);
}


#setalarm {
  display: inline-block;
  position: relative;
  float: right;

  color: rgba(255, 255, 255, 0.7);
  font-size: 16px;
  text-transform: uppercase;
  text-decoration: none;

  background-color: transparent;
  border: 2px solid rgba(255, 255, 255, 0.7);
  border-radius: 5px;

  cursor: pointer;
  outline: none;
  padding: 10px 20px 10px 20px;

  transition: all .3s linear;
}

#setalarm:hover {
  color: rgba(255, 255, 255, 0.9);
  border: 2px solid rgba(255, 255, 255, 0.9);
}

#setalarm:active {
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}

#alarms {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  margin: auto;
  padding-left: 0;

  width: 200px;
}

.alarm {
  display: inline-block;
  color: rgba(255, 255, 255, 0.8);
  font-size: 24px;
  text-align: left;
  width: 100%;
  margin-bottom: 20px;
}

.removebtn {
  display: inline-block;
  float: right;
  width: 24px;
  height: 24px;

  cursor: pointer;
  opacity: 0.9;
  background-image: url("../img/ic_alarm_on_white_24px.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.removebtn:hover {
  opacity: 1;
  background-image: url("../img/ic_alarm_off_white_24px.svg");
}
