html {
  height: 100%;
}

body {
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  margin: 0;
  padding: 0;
  background: #ebeaeb;
}

header {
  margin: 0px auto;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-wrap {
  display: flex;
  max-width: 500px;
  padding: 20px 25px;
  background-color: #FAFAFA;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  border-radius: 3px;
}

.header-logo {
  margin-right: 10px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}

.header-title-wrap {
  margin: 0;
  text-align: left;
}

header .header-title {
  color: rgba(0, 0, 0, 0.8);
  margin: 0;
}

header .header-desc {
  margin-top: 10px;
  color: rgba(0, 0, 0, 0.9);
}

header p a {
  color: rgba(0, 0, 0, 0.9);
  text-decoration: none;
  font-weight: bold;
}

header p a:hover {
  color: rgba(0, 0, 0, 0.6);
}

.work {
  display: flex;
  height: auto;
  min-height: 100vh;
  flex-flow: column;
  align-content: space-between;
  background-color: #fafafa;
}

.work h2 {
  position: relative;
  display: flex;
  margin: 10vh auto;
  color: rgba(0, 0, 0, 0.7);
  font-size: 1em;
  font-weight: bold;
  text-transform: uppercase;
}

.thumb-wrap {
  position: relative;
  margin: 0 auto;
  width: 70vw;
}

.thumb-item {
  display: flex;
  width: 29%;
  padding-top: 20%;
  padding-bottom: 0;
  float: left;
  position: relative;
  margin: 2% 2%;
  cursor: pointer;
}

.thumb-overlay {
  background-color: rgb(233, 229, 220);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 5px;
  margin: 0;
  position: absolute;
  top: 0;
  height: 80%;
  bottom: 0;
  right: 0;
  left: 0;
}

.thumb-overlay:hover  {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  transition: .2s ease-out;
}

.thumb-title {
  font-size: 1.5em;
  color: rgba(0,0,0,0.7);
  text-transform: uppercase;
  text-decoration: none;
  position: relative;
  margin: 0 auto;
}

.work a {
  text-decoration: none;
}

.thumb-shade {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  border-radius: 5px;

  -webkit-transition: opacity .2s ease,-webkit-transform .2s ease;
  transition: opacity .2s ease,transform .2s ease;

}

a:hover .thumb-shade {
  opacity: 1;
}

.thumb-shade-title {
  color: rgba(255, 255, 255, 0.9);
  border: 1px solid rgba(255, 255, 255, 0.9);
  border-radius: 5px;
  margin: 0;
  padding: 5px 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

footer {
  position: relative;
  display: flex;
  height: 100vh;
  flex-flow: column wrap;
  justify-content: center;
  align-content: center;

  background-color: #37474F;
}

.footer-title {
  margin: 0 auto;
  text-transform: uppercase;
}

.footer-links {
  margin: 0 auto;
}

.footer-link {
  width: 50px;
  height: auto;
  opacity: 0.7;
  padding: 10px;
}

a:hover .footer-link {
  opacity: 0.9;
}

@media screen and (max-width: 766px) {

    .work {
        height: auto;
    }

    .work h2 {
        margin: 5vh auto;
    }

    .thumb-wrap {
        margin-bottom: 5vh;
    }


    .thumb-wrap {
        width: 90vw;
    }

    .thumb-item {
        width: 46%;
        padding-top: 30%;
    }

}

@media screen and (max-width: 540px) {
    .work {
        height: auto;
    }

    .work h2 {
      margin: 5vh auto;
    }

    .thumb-wrap {
      margin-bottom: 5vh;
    }

    .thumb-item {
        width: 96%;
        padding-top: 50%;
    }

    .header-wrap {
      display: flex;
      flex-flow: column wrap;
    }

    .header-logo {
      margin: 0 auto;
    }

    .header-title-wrap {
      text-align: center;
    }

}
